{% extends 'base.html' %}

{% block content %}
<div class="thumbnails_detail">

<h1>photo detail</h1>
    <img src='{{ object.medium_image }}' class="detailimage" />
    <span class="price">Price: {{ object.get_price }} $</span>
    <div class="clear"></div><br/><br/>
    {% for photo in photo_list %}
        <a href='{% url flickrpayments_photo_detail photo.id %}'>
            <img src='{{ photo.thumbnail_image }}'  class="image_listsmall" /> 
        </a>
    {% endfor %}
    
</div>
{% if has_paypal %}
    <div class="paypal">    
        {% if is_debug %}
            {% url flickrpayments_photo_buy_paypal photo.pk %}
        {% else %}
            {{ form }}
        {% endif %}
    </div>
{% else %}
    {% if user.is_authenticated %}
        {% ifequal request.user request.subdomain.user %}
            <a href="{% url flickrpayments_paypal_config %}" class='linkstyle' /> Set your Paypal Account</a>
        {% endifequal %}
    {% else %}
        <p>User does not provided paypal details</p>
    {% endif %}
{% endif %}


<div class="clear"></div>
    
{% endblock %}
