{% extends 'base.html' %}

{% block content %}
<div class="thumbnails_detail">

<h1>photo detail</h1>
    <img src='{{ object.medium_image }}' class="detailimage" />
    <span class="price">{{ object.get_price }} $</span>
    <div class="clear"></div><br/><br/>
    {% for photo in photo_list %}
        <img src='{{ photo.thumbnail_image }}'  class="image_listsmall" /> 
    {% endfor %}
    
</div>
<div class="paypal">    
    {% if is_debug %}
        {{ form.sandbox }}
    {% else %}
        {{ form }}
    {% endif %}
</div>
<div class="clear"></div>
    
{% endblock %}
