{% extends "base.html" %}

{% block content %}
    <div id="header"><a href="."><img src="{{MEDIA_URL}}images/logo.gif" width="332" height="38" alt="Flickr Commerce" /></a></div>
    <div id="banner">
    	<div class="left"><img src="{{MEDIA_URL}}images/whyflickr_commerce.png" width="517" height="146" alt="Why Flickr Commerce" /></div>
        <div class="right"><a href="#"><img src="{{MEDIA_URL}}images/login_but.png" width="324" height="115" alt="Login" /></a></div>
    
  </div>
  <div id="content"></div>
{% endblock %}